[submodule "NativeLibs/submodule/tree-sitter-lua"]
	path = NativeLibs/submodule/tree-sitter-lua
	url = https://github.com/tree-sitter-grammars/tree-sitter-lua.git
[submodule "NativeLibs/submodule/tree-sitter"]
	path = NativeLibs/submodule/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter.git
